@import 'compass';
@import 'compass/reset';

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    -webkit-text-size-adjust: 100%;
}

div{
	width:50px;
	height:50px;
	background-color:#09c;
	margin-top: 10px; 
	
}

#div_01{
//	background-color:#09c;	
}
#div_02{
	background-color:#CC5F00;	
}

div.box{
	background-color:#CC0052;	
}

#div_03{
	color:#fff;
	width:500px;
	height:150px;
	background-color:#CCB100;
	margin:50px;
}

#div_04{
	background-color:#8D00CC;	
}
