@import 'compass';
@import 'compass/reset';

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    -webkit-text-size-adjust: 100%;
}


.wrap{
  width: 500px;
  margin: 100px auto;
  background-color: #ccc;
	
	.inner{
		height: 300px;
		background-color: #ccc;
		padding: 20px 0;
		
		div{
			height: 100%;
			background-color: #41c00c;
			margin: 0 -100px;
			//padding: 0 100px;
			
		}
	}
}








