@import 'compass';
@import 'compass/reset';

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    -webkit-text-size-adjust: 100%;
}

div{
	width:100px;
	height:100px;
	margin:5px;
	background-color:#333;
}

.aqua{background-color:#09C;}
.green{background-color:#9C9;}
.pink{background-color:#FCC;}
		


























